html {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0 100px;
  padding: 0;
}

nav {
  padding: 40px 0px 0px;
}

ul {
  list-style-type: none;
}

.logo {
  width: 100px;
}

/* flexbox classes */

.dflex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.self-start {
  align-self: flex-start;
}

@media only screen and (min-width: 900px) {
  body {
    margin: 0 200px;
  }
}

@media only screen and (max-width: 640px) {
  body {
    margin: 0px 25px;
  }
}