html {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  padding: 20px 40px;
}

ul {
  list-style-type: none;
}

.dflex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.navlist li {
  margin: 0px 5px;
  padding: 5px;
}

.soon {
  font-size: 5em;
  position: absolute;
}

.soon-text {
  top: 30%;
}
.soon-dots {
  top: 40%;
}

.loading-1 {
  animation: fade 1.25s ease-in-out;
  animation-iteration-count: infinite;
}

.loading-2 {
  animation: fade 1.25s ease-in-out .4s;
  animation-iteration-count: infinite;
}

.loading-3 {
  animation: fade 1.25s ease-in-out .8s;
  animation-iteration-count: infinite;
}

@keyframes fade {
  0% {opacity: 100%;}
  50% {opacity: 33%;}
  100% {opacity: 100%;}
}