html {
  font-family: 'Lato', sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0 0px;
  padding: 0;
}

nav {
  padding: 40px 0px 0px;
}

ul {
  list-style-type: none;
}

.logo {
  width: 100px;
}

.doing-text {
  font-size: 1.1rem;
}

.project-card {
  width: 225px;
}

.card-desc {
  padding: 10px 20px 0 20px;
}

.project-hover {
    visibility: hidden;
    transition-duration: .3s;
    transition-timing-function: ease-in;
}

/* .project-hover *{
  visibility: hidden;
  transition-duration: .3s;
} */

.project-card:hover .project-hover {
  visibility: visible;
  transition-duration: .3s;
  background-color: #ccc;
}

.project-card:hover .project-hover * {
  transition-duration: .4s;
  transition-timing-function: ease-out;
}

/* @keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}  */